$minGap: 25px;

.highscoreList {
  width: fit-content;
  list-style: none;
  font-size: var(--font-size-45);
}

.highscoreList li {
  align-self: center;
  margin-bottom: $minGap;

  display: grid;
  grid-template-columns: 3fr 1fr;

  span:last-of-type {
    justify-self: right;
  }
}
